<form action="/find_user" method="POST">
	<input type="text" name="user[name]" placeholder="User Name">
	<input type="text" name="user[first_name]" placeholder="first name">
	<input type="submit" value="Find User">
</form>