<body id="find_user_body">
	<div id="find_user_container">
		<form action="/find_user" method="POST">
			<div class="search_wrapper">
				<input type="search" placeholder="search for friends" name="user_name"
				 id="user_search">
			</div>
			<div class="results"></div>
		</form>
	</div>
</body>