<body id="home_body">
	<div id="blog_logo">
		<img id="blog_image" src="/images/my_blog_logo.png" alt="">
	</div>
	<div id="post_container">
		<% @users.each do |user| %>
			<div class="user">
				<% user.posts.each do |post| %>
				<!-- <div class="post"> -->
				<div id="user_section">
					<%= user.name %> 
					<p><%= post.created_at %></p>
				</div>
				<p><%= post.title %></p>
				<p><%= post.content %></p>
				<!-- </div> -->
			</div>
			<% end %>
		<% end %>
	</div>
</body>