<body id="log_in_body">
	<form id="log_in_form" action="/log_in" method="POST">
	  <div class="form-group">
	    <input type="email" class="form-control" id="email_login" aria-describedby="emailHelp" placeholder="Enter email" name="user[email]">
	  </div>
	  <div class="form-group">
	    <input type="password" class="form-control" id="login_password" name="user[password]" placeholder="Password">
	  </div>
	  <button type="submit" class="btn btn-primary">Submit</button>
	</form>
	<h2>Please Log in, if you enter an email or password that does not exist you will be redirected to the sign up page</h2>
</body>