<body id="log_in_incorrect_body">
	<div id="log_in_incorrect_container">
		<div id="incorrect_text">
			<h4>Your login information was incorrect</h4>
			<p>If you do not have an account please create one</p>
			<a class="link_text" href="/sign_up">Sign Up</a>
			<p>If you just got to excited while logging in and messed it up then try again</p>
			<a class="link_text" href="/log_in">Log_in</a>
		</div>
	</div>
</body>