#home_body{
	background-image: url("/images/smoke.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}

#profile_body{
	background-image: url("/images/rose_fire.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

#show_body{
	background-image: url("/images/rose_fire.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

#sign_up_body{
	background-image: url("/images/stars_two.gif");
	background-repeat: no-repeat;
	background-size: cover;
}

#log_in_body{
	background: gray;
}

#sign_up_form_container{
		height: 400px;
    width: 500px;
    margin-left: auto;
    margin-top: 50px;
    margin-right: auto;
}

#form_background_container{
	background-image: url("/images/meteor.gif");
	height :700px;
	background-repeat: no-repeat;
	background-size: cover;
	width: 1300px;
  border: 5px solid slategray;
  margin-left: auto; 
  margin-right: auto;
  margin-top: 30px;
}

.form_label{
	color: white;
  font-size: larger;
	font-weight: bolder;
}

#email_help_text{
	color: white;
}

#blog_logo{
	text-align: center;
}

#blog_image{
	height: 150px;
}

.user{
	background: gray;
	height: 200px;
  width: 1000px;
  margin-bottom: 30px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	font-family: fantasy, herculanum;
	/*font-family: fantasy;*/
	font-weight: bolder;
	color: black;
	border-radius: 10px;
	padding: 10px;
}

#user_section{
	width: 182px;
  position: absolute;
  left: 157px;
  background: black;
  height: 100px;
}

#user_info{
	margin: 10px auto 10px auto;
  width: 500px;
  margin-right: auto;*/
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 3px;
  font-family: fantasy;
  font-weight: bolder;
  line-height: 70%;
}

.new_post_container{
	text-align: center;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#users_container{
  background: black;
  width: 400px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#post_container{
  background-image: url("/images/atom_bomb.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  overflow: scroll;
  padding: 25px;
  border-radius: 10px;
}

#title_box{
  margin-left: auto;
  margin-right: auto;
}

#log_in_form{
  width: 500px;
  height: 200px;
  margin: 20px auto 0 auto;
}

#edit_button{
	height: 35px;
}

#edit_background_container{
	background: gray;
	height: 500px;
	width: 700px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

#edit_post_button{
  position: relative;
  left: 560px;
}

#edit_link{
  position: relative;
  left: 450px;
  top: -51px;
  color: red;
}